/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 100%;         /* setting relative font size for accessibility. Here default is 16px */
}

body {
     font-family: 'Lexend', sans-serif;
     background: black;
     margin: 2.5rem;
}


/******************************************
/* LAYOUT
/*******************************************/


input[type=button] {
     position: relative;
     padding: 0 1.25rem;
     display: inline-block;
     border: none;
     outline: none;
     background: #595958;
     height: 4rem;
     width: 4rem;
     border-radius: 100%;
     font-size: 1.5rem
}

.buttonDark input{
     color: white;

     &:active {
          background: #999997;
          font-size: 1.2rem;
     }
}

.highlight input{
     background: #00dc00;
     color: white;

     &:active {
          background: #47ff47;
          font-size: 1.2rem;
     }
}

.operand input{
     color: #00dc00;

     &:active {
          background: #999997;
          font-size: 1.2rem;
     }
}

.alert input{
     color: #ff784f;
}

.output {
     height: 4rem;
     background: grey;
     border-radius: 2%;
     color: black;
     width: 17rem;
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     flex-direction: column;
     padding: 0.625rem;
     word-wrap: break-word;
     word-break: break-all;
}

.output .previous-operand{
     color: rgba(40,40,40,1);
     font-size: 1rem;
}

.output .current-operand{
     color: rgba(0,0,0,1);
     font-size: 1.5rem;
}


/* .display-box {
     height: 4rem;
     color: black;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     
     
} */

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




/* Help on round buttons from: https://alvarotrigo.com/blog/css-round-button/ */